<div class="row puzzle">
  <div class="col-xs-12" *ngIf="answers.length === 12">
    <div class="row">
      <div class="col-xs-3 text-center">{{ answers[0] }}</div>
      <div class="col-xs-3 text-center">{{ answers[1] }}</div>
      <div class="col-xs-3 text-center">{{ answers[2] }}</div>
      <div class="col-xs-3 text-center">{{ answers[3] }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3 text-center">{{ answers[4] }}</div>
      <div class="col-xs-3 text-center">{{ answers[5] }}</div>
      <div class="col-xs-3 text-center">{{ answers[6] }}</div>
      <div class="col-xs-3 text-center">{{ answers[7] }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3 text-center">{{ answers[8] }}</div>
      <div class="col-xs-3 text-center">{{ answers[9] }}</div>
      <div class="col-xs-3 text-center">{{ answers[10] }}</div>
      <div class="col-xs-3 text-center">{{ answers[11] }}</div>
    </div>
  </div>
</div>

<slq-score-board></slq-score-board>
