.clues-table {
  font-size: 2.5em;
  border-width: 4px;
}

.clues-table td {
  border-width: 4px;
}

.clues-table .answer1 {
  color: blue;
}

.clues-table .answer2 {
  color: green;
}

.clues-table .answer3 {
  color: yellow;
}
