<div class="row col-sm-12 ">
  <div class="row">
    <slq-three-six-nine></slq-three-six-nine>
  </div>
  <div class="row">
    <form class="col-sm-6 col-sm-offset-3">
      <div class="form-group" *ngIf="!endOfRound">
        <label class="control-label">Question<span *ngIf="numberOfQuestion % 3 === 0"> (+10)</span></label>
        <div>
          <p class="form-control-static">{{ question$ | async }}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">Answer</label>
        <div>
          <p class="form-control-static">{{ answer$ | async }}</p>
        </div>
      </div>
      <div class="form-group" *ngIf="!endOfRound">
        <button class="btn btn-success" (click)="correct()">Correct</button>
        <button class="btn btn-warning" (click)="incorrect()">Incorrect</button>
      </div>
      <div class="form-group" *ngIf="endOfRound">
        <button class="btn btn-default" (click)="goToNextRound()">Next round</button>
      </div>
    </form>
  </div>
</div>

